<body style="background-color:#333333">
<h1>Listing Stocks</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><font color="#fff">Company name</th>
      <th><font color="#fff">Ticker</th>
      <th><font color="#fff">Current price</th>
      <th><font color="#fff">Quantity</th>
      <th><font color="#fff">Current Value</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
    <% if stock.user_id == current_user.id %>
   <% begin %>
    <% @stock_quote = StockQuote::Stock.quote(stock.ticker) %>
     <% rescue StandardError %>
     <<tr>
            <td><font color="#fff"><%= link_to "N/A", stock %></td>
            <td><font color="#fff"><%= "N/A" %></td>
            <td><font color="#fff"><%= stock.ticker %></td>
            <td><font color="#fff"><%= "error" %></td>
            <td><font color="#fff"><%= "error" %></td>
          </tr>
          <% next %>
     <% end %>
     
          <tr>
            <td><font color="#fff"><%= link_to @stock_quote.name, stock, {:style=>'color:#FFFFFF;',} %></td>
            <td><font color="#fff"><%= stock.ticker %></td> 
            <td><font color="#fff">$ <%= @stock_quote.l %></td> 
            <td><font color="#fff"> <%= stock.quantity.to_f.round(2) %></td>
            <td><font color="#fff"><%= @stock_quote.l.tr(',','').to_f.round(2) * stock.quantity.to_f.round(2) %></td> 
          </tr>
       <% end %>
    <% end %>
  </tbody>
</table>

<br/>

 <%= link_to 'New Stock', new_stock_path, class: "btn btn-default"%>

 <br/><br/>


