

<body style="background-color:#333333">
    
    <br/><br/><br/><br/><br/><br/>
    <h1 style= "text-align:center"><font color="#FFFFFF"><font size = 50px><strong>Search a company's ticker</strong></h1></font>
    <br/><br/><br/><br/>
    
<%= form_tag home_path, :method => 'POST' do %>
<div class = "form-group">
<%= text_field_tag 'id', nil, placeholder: "Enter Company Ticker Symbol", size: 50, class: 'form-control' %>
<br/>
<%= submit_tag 'Lookup stock quote', class: "btn btn-info" %>
</div>
<% end %>


<br/><br/>

<% if @stock %>

<div class="panel panel-default">
  
  <div class="panel-heading"> <font color="#333333"> <strong> <%= @stock.name  %> - <%= @stock.symbol  %> </font></strong><br/> </div>
  <div class="panel-body">
    <div class = "col-md-4">
    
      <h1><font color="#333333">$<%= @stock.l  %></h1></font><br/>
       <strong> <font color="#333333">Earnings Per Share: </strong><%= @stock.eps  %></font><br/>
        <strong> <font color="#333333">Price/Earnings Ratio: </strong><%= @stock.pe  %></font><br/>
         <strong><font color="#333333">Market Cap: </strong><%= @stock.mc  %></font><br/>
          <strong><font color="#333333">Stock Open: </strong><%= @stock.op  %></font><br/>
          <strong><font color="#333333">Day's Range:  </strong><%= @stock.lo  %></font><br/>
          <strong><font color="#333333">Year High: </strong><%= @stock.hi52  %></font><br/>
          <strong> <font color="#333333">Year Low: </strong><%= @stock.lo52  %></font><br/>
          </div>
         
         <div class= "col-md-8">
           <br/>
        <p align="justify"><font color="#333333"> <%= @stock.summary[0]["overview"] %></font></p>
          </div> 
          
          <div class="panel-footer"><%= link_to 'New Stock', new_stock_path, class: "btn btn-default"%> 
  </div>
  </div>



 <% elsif @nothing %>
   <%= @nothing %>
 <% end %>

 <% if @error %>
   <%= @error %>
<% end %>

